# The network to use (mainnet or devnet)
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# The Solana public RPC endpoint (defaults to Devnet if not set)
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com

# Address to receive the developer commission
NEXT_PUBLIC_CREATOR_ADDRESS=81kTLKjRBJBXt4CWz8mv5Fq9mSQVQsU9pDW81rbszxFT
